

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}
.breadcrumb {
    margin-top: 5px;
    --bs-breadcrumb-margin-bottom: 7px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.col-lg-1 {
    width: initial;
}
.folder-list-item-href{
    margin:24px 0 ;
}
.file-list-item-href{
    margin:24px 0 ;
}

.folder-list-item-img {
    font-size: 50px;
    color: #ffb400;
}

.file-list-item-img {
    font-size: 50px;
    color: #506e89;
}

.file-list-item-href:hover .file-list-item-img {
    color: #4389c6;
}

.folder-list-item-href:hover .folder-list-item-img {
    color: #cd7c00
}
.folder-list-item-delete-href{
    position: absolute;
    right: 12px;
    top: 0px;

    padding: 1px 7px;
    text-align: center;
    background-color: #b89999;
    color:white;
    font-weight: bold;
}
.folder-list-item-delete-href:hover {
    color:white;
    background-color: red;
}

.has-error input {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.has-error .help-block {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.form-group label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.alert {
    --bs-alert-padding-x: 15px;
    --bs-alert-padding-y: 7px;;
    --bs-alert-margin-bottom: 15px;;
}


